// Navigation code here
nav {
    margin: 0 auto;
    background-color: @nav-bg;
    border-bottom: 1px solid @nav-border;

    h1 {
        .flexbox();
        margin: 0 auto 1.5% auto;
        padding: 2% 0 0 0;
        font-size: 3.5rem;
        color: @header-font-color;
    }

    .nav-a {
        .flexbox();
        .standard-font();
        width: 45%;
        
        a{
            text-decoration: none;
            color: @nav-font;
        }
    }
}